html {
  height: 100%;
  width: 100%;
}
  
div, button {
  margin: 5px;
  font-size:20px;
  border-radius: 10px;
  border-color: #4da79e;
  border-width: 5px; 
  font-family: 'Brush Script MT', cursive;
}

header{
  text-align: center;
  background-color: beige;
  font-family: 'Brush Script MT', cursive;
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  border-color: black;
  border-width: 5px;
}

main{
  font-family: 'Brush Script MT', cursive;
}

div{
  font-size: 50px;
}
body{
  text-align: left;
  background-color: rgb(122, 161, 176);
}